<!-- I have no idea how to work with angular template binding sintax :DDDDDDDDDDD -->
<div>
  <!-- Maps all of the note variables of the TS code the html document and when user clicks on it, it sends an event to the the keyboard.ts -->
  <button *ngFor="let note of currentNotes ; let i=index;" [ngClass]="{'key' : true}" (mousedown)="noteOn(note)" (mouseup)="noteOff(note)" >
    {{note.id}}
  </button>
</div>
<br>

<form #kbConfig = 'ngForm' (ngSubmit)="onClickSubmit(kbConfig)">
  <label for="edo">selecione o valor da subdivisão de nota </label>
  <input type="number" min="3" max="31" id="edo" name="edoid" value="13" [(ngModel)]="currentEDO">
  <br><br>

  <label for="octave">selecionar oitava</label>
  <input type="number" min="0" max="9" id="oitava" name="octaveid"  value="4" [(ngModel)]="currentOctave">
  <br><br>

  <input type="submit" value="mandar novas configs">
</form>
