<div class="keyboardTEST">
  <h2>The rudmentary keyboard</h2>
  <button *ngFor="let note of currentNotes ; let i=index;" [ngClass]="{'key' : true}" (mousedown)="noteOn(note)" (mouseup)="noteOff(note)" >
    {{note.id}}
  </button>
</div>
<br>


<!--
UNDER CONSTRUCTION:
<div *ngFor="let note of currentNotes; let i = index;" class="thaSequencerTEST">
  <button (mousedown)="noteOn(note)" (mouseup)="noteOff(note)">{{note}}</button>
  <button *ngFor=""
</div>
-->

<!--
USELESS FOR THE USERS:
<div class="sequencerTEST">
  <button [ngClass]="{'noteCell' : !isClicked, 'noteCellActivated' :  isClicked}" (click)="yeah()"></button>
</div>
-->

<div class="parametersTEST">
  <fieldset>
    <legend>Parameters</legend>
    <form #kbConfig = 'ngForm' (ngSubmit)="onClickSubmit(kbConfig)">
      <label for="edo">Select the number of notes to subdivide the octave: </label>
      <input type="number" min="3" max="31" id="edo" name="edoid" value="13" [(ngModel)]="currentEDO">
      <br><br>

      <label for="octave">Select the octave to play with: </label>
      <input type="number" min="0" max="9" id="oitava" name="octaveid"  value="4" [(ngModel)]="currentOctave">
      <br><br>

      <input type="submit" value="Update params">
    </form>
  </fieldset>
</div>
